@import "../../scss/variables";

.root {
  background-color: $black;
  text-align: center;
  padding-top: 5vh;
  margin-top: 5vh;
  margin-left: 35vw;
  margin-right: 35vw;
  padding-bottom: 5vh;
  height: auto;
  .input {
    width: 20vw;
    height: 5vh;
    outline: none;
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border-radius: 20px;
    border-width: 2px;
    //   border-color: gray-light;
    background-color: $gray;
    &:hover {
      background-color: $gray-light;
      border-color: $black;
    }
    &:focus {
      background-color: $gray-light;
      border-color: $wheat;
    }
  }
}

.title {
  margin-bottom: 2vh;
  font-size: xx-large;
  text-align: center;
}

.login_title {
  left: -7.4vw;
  top: 2vh;
  position: relative;
  text-align: start;
}

.password_title {
  left: -7vw;
  top: 2vh;
  position: relative;
  text-align: start;
}

.reg_link {
  cursor: pointer;
  color: $gray-x-light;
  &:hover {
    color: $gray-x-x-light;
  }
}
