@import "../../../scss/variables";

.rootBlack {
  position: relative;
  //   height: 50px;
  //   width: 50px;
  background-color: $black;
  grid-column-gap: 12.5%;
  grid-row-gap: 12.5%;
  .idX {
    color: $white-dark-dark;
  }
  .idY {
    color: $white-dark-dark;
  }
}

.rootWhite {
  position: relative;
  background-color: $white;
  grid-column-gap: 12.5%;
  grid-row-gap: 12.5%;
  .idX {
    color: $gray;
  }
  .idY {
    color: $gray;
  }
}

.idX {
  font-size: 0.6rem;
  position: absolute;
  //   bottom: 120%;
  left: 88%;
  font-weight: 600;
  user-select: none;
}
.idY {
  font-size: 0.6rem;
  position: absolute;
  bottom: 3%;
  left: 3%;
  font-weight: 600;
  user-select: none;
}
