@import "../../../scss/variables";

.rootBlack {
  position: relative;
  //   height: 50px;
  //   width: 50px;
  background-color: $black !important;
  grid-column-gap: 12.5%;
  grid-row-gap: 12.5%;
  .idX {
    color: $white-dark-dark;
  }
  .idY {
    color: $white-dark-dark;
  }
}

.rootWhite.selected {
  background: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgba(20, 85, 0, 0.45) 80%
  );
}

.rootBlack.selected {
  background: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgba(39, 167, 0, 0.45) 80%
  );
}

.rootWhite {
  position: relative;
  background-color: $white !important;
  grid-column-gap: 12.5%;
  grid-row-gap: 12.5%;
  .idX {
    color: $gray;
  }
  .idY {
    color: $gray;
  }
}

.idX {
  font-size: 0.6rem;
  position: absolute;
  //   bottom: 120%;
  left: 88%;
  font-weight: 600;
  user-select: none;
}
.idY {
  font-size: 0.6rem;
  position: absolute;
  bottom: 3%;
  left: 3%;
  font-weight: 600;
}
